<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>
  <body>
    <div class="bg-animated" include-html="/back"></div>
    <div class="container">
      <div class="thankyou-container">
        <a
          href="https://translate.google.co.in/?sl=hi&tl=en&text=%E0%A4%A7%E0%A4%A8%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%BE%E0%A4%A6&op=translate"
          >धन्यवाद</a
        >
      </div>
    </div>

    <div class="cursor-dot-outline"></div>
    <div class="cursor-dot"></div>
    <script src="{{ url_for('static',filename='js/cursor.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bg.js') }}"></script>
  </body>
</html>
